.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  gap: 8px;

  position: absolute;
  width: 1920px;
  left: 260px;

  background: gray;
}

.container-job-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 24px 16px;
  gap: 32px;

  width: 1400px;
  height: 164px;

  background: #fff;

  /* dp1 */

  box-shadow: 2px 1px 7px rgba(0, 0, 0, 0.08), 0px 2px 1px -1px rgba(0, 0, 0, 0.04), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 8px;

}

@media screen and (max-width: 414px) {
  .container {
    width: 414px;
    position: relative;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    height: auto;

    background: #EFF0F5;
  }

  .container-job-bar {
    width: 396px;
    background: #EFF0F5;
  }
}